body{
    background-color: rgba(255, 255, 255, 0.603);
    text-align: center;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    margin-bottom: 50px;
}

input{
    width: 250px;
    height: 45px;
    border: 3px solid black;
    margin-bottom: 40px;
}

button{
    height: 45px;
    width: 100px;
    background-color: rgb(61, 107, 255);
    border: 0;
    color: white;
}

li{
    background-color: rgb(238, 238, 238);
    border-bottom: 4px solid rgb(0, 0, 0);
    padding: 8px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feito{
    text-decoration: line-through;
    color: rgb(0, 0, 0);
}

ul{
    list-style: none;
    padding: 0;
    width: 40%;
    margin: auto;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
